[submodule "992798"]
	path = 992798
	url = git@gist.github.com:992798.git
[submodule "gists/992798"]
	path = gists/992798
	url = git@gist.github.com:992798.git
[submodule "gists/growl-hooks"]
	path = gists/growl-hooks
	url = git@gist.github.com:992798.git
